*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

ul, ol, li{
    list-style: none;
}
body{
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}
header{
    height: 10%;
    width: 100%;
    display: flex;
    border-bottom: 3px solid #000000;
}
main{
    display: flex;
    height: 90%;
    flex: 1;
}
input{
    border: none;
    outline: none;
    width: 100%;
}

.logo{
    width: 10vh;
    height: 10vh;
    font-size: 24px;
    position: relative;
}
.logo h2{
    transform: scaleY(4);
    position: absolute;
    top: 40px;
}
.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: calc(100% - 10vh);
    padding: 1vw;
}


.menu ul{
    display: flex;
    justify-content: space-between;
    width: 50%;
    padding: 10px;
    font-size: 32px;
}
.box{
    display: flex;
    border-bottom: 1px solid #000000;
    width: 10%;
}
.user{
    align-items: center;
    display: flex;
    font-size: 32px;
    width: 20%;
}
.user div{
    
    border-radius: 50%;
    border: 2px solid #000000;
    
}
.user div ion-icon{
    width: 45px;
    height: 40px;
}

.linha{
    position: absolute;
    top: 0;
    left: 10vh;
    width: 3px;
    height: 100%;
    background-color: #000000;
}
.esquerda{
    font-family: "Righteous", sans-serif;
    width: 10vh;
    height: 100%;
    padding: 10px;
    justify-content: center;
    align-items: start;
}
.esquerda h2{
    width: 500px;
    height: 40px;
    font-size: 32px;
    transform: rotate(270deg) translate(-45%, -400%);
    letter-spacing: 10px;

}

.direita{
    padding-top: 2%;
    padding-left: 2%;
    flex: 1;
    position: relative;
}
.quadradoParaFundo{
    height: 100%;
    width: 100%;
    display: flex;
    background-color: brown;
}
.black{
    background-color: black;
    width: 70%;
    height: 100%;
    display: flex;
    justify-content: center;
    padding-top: 25%;
}
.black img{
    width: 36%;
    position: absolute;
    top: 60%;
}


.red{
    background-color: red;
    width: 30%;
    height: 100%;
    background-image: url(./img/Denji_Chainsaw_Man.png);
    background-size: cover;
    background-repeat: no-repeat;
}
h1{
    position: absolute;
    top: 11%;
    color: white;
    font-size: 350px;
    line-height: 0.7;
}